# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Vue template
# gitignore template for Vue.js projects
#
# Recommended template: Node.gitignore

# TODO: where does this rule come from?
docs/_book

# TODO: where does this rule come from?
test/

### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

anyone/src/main/java/cn/jaminye/App.java
anyone/target/a.txt
anyone/target/archive-tmp/
anyone/target/generated-sources/
anyone/target/generated-test-sources/
anyone/target/maven-archiver/
anyone/target/maven-status/
anyone/target/surefire-reports/
axis2/target/classes/META-INF/
axis2/target/generated-sources/
axis2/target/generated-test-sources/
axis2/target/maven-archiver/
axis2/target/maven-status/
concurrency/src/main/java/cn/jaminye/concurrency/threadpool/scheduledThreadPool/
concurrency/target/
dubbo-base/target/generated-sources/
dubbo-base/target/generated-test-sources/
dubbo/target/classes/META-INF/
dubbo/target/classes/consumer.xml
dubbo/target/classes/log4j.properties
dubbo/target/classes/provider.xml
dubbo/target/generated-sources/
dubbo/target/generated-test-sources/
spring-redis/target/generated-sources/
spring-redis/target/generated-test-sources/
spring/target/generated-sources/
spring/target/generated-test-sources/
zookeeper_agent/target/generated-sources/
